@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
margin:0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.content{
    justify-content:space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    width: 960px;
    height: 50%;
    position: relative;
}
.content::before{
    content:"";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.first-container{
    display: flex;
}
.first-column{
    
    text-align: center;
    flex:1 0 auto;
    z-index:10;
}
.second-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:2 0 auto;
}
.title-secondary{
    color: #58af9b;
}
.list-social-media{
    display: flex;
    list-style: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
.item-social-media a{
    color: #95a5a6;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.second-container{
    position: absolute;
    display: none;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary{
    color:#fff;
}
.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary{
    color:#fff;
}
.description-secondary{
    color:#7f8c8d;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color:#fff;
    font-size: 10px;
    padding:10px 50px;
    cursor:pointer;
    font-weight: bold;
    align-self: center;
    width: 150px;
    border:none;
}
.btn-secondary{
    background-color:#58af9b;
    border:1px solid #fff;
}
.btn:hover{
    border:1px solid #58af9b;
    background-color:#fff;
    color:#58af9b;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
}
.btn-primary:hover{
background-color: #FFF;
color: #58af9b;
}
.form input{
height: 45px;
border:none;
background-color: #ecf0f1;
margin: 8px;
}