@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
margin:0;
padding: 0;
box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.content{
    justify-content:space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    /* width: 960px; */
    height: 65%;
    position: relative;
}
.content::before{
    content:"";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left:0%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.first-container{
    display: flex;
}
.first-container .second-column{
    z-index: 11;
}
.first-column{
    width: 40%;
    text-align: center;
    z-index:10;
}
.second-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.title-secondary{
    color: #58af9b;
}
.list-social-media{
    display: flex;
    list-style: none;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media{
    background-color: #58af9b;
    color:#fff;
    border:#58af9b;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #95a5a6;
    transition: background-color .5s;
}

.social-media{
    margin: 1rem 0;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.second-container{
    position: absolute;
    display: flex;
}
.second-container .first-column{
    order:2;
    z-index: -1;
}
.second-container .second-column{
    order:1;
    z-index: -1;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary{
    color:#fff;
}
.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary{
    color:#fff;
}
.description-second{
    color:#7f8c8d;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color:#fff;
    font-size: 10px;
    padding:10px 50px;
    cursor:pointer;
    font-weight: bold;
    align-self: center;
    width: 150px;
    border:none;
    margin: 1rem;
}
.btn-secondary{
    background-color:#58af9b;
    border:1px solid #fff;
    transition: background-color .5s;
    text-align: center;
    text-decoration: none;
}
.btn:hover{
    border:1px solid #58af9b;
    background-color:#fff;
    color:#58af9b;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover{
background-color: #FFF;
color: #58af9b;
}
.form input{
height: 45px;
border:none;
background-color: #ecf0f1;
width: 100%;
outline: none;
}
.label-input{
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
    margin: 8px;
}
.icon-modify{
    color:#7f8c8d;
    padding: 0 5px;
}
.password{
    color:#34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter{
    text-transform: capitalize;
}

.sign-in-js .first-container .first-column {
z-index: -1;

}


.sign-in-js .second-container .second-column {
z-index: 11;
}
.sign-in-js .second-container .first-column{
    z-index:12;
}

.sign-in-js .content::before{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    left: 60%;
    animation: slidein 3s;
    z-index:12;
}
.sign-up-js .content::before{
    animation: slideout 3s;
    z-index: 12;
}
.sign-up-js .second-container .first-column, 
.sign-up-js .second-container .second-column {
z-index: -1;
}


.sign-up-js .first-container .second-column {
z-index: 11;
}
.sign-up-js .first-container .first-column{
    z-index: 13;
}

.sign-in-js .first-container .second-column{
    position: relative;
    animation: contentSlideLeft 3s;
    z-index: -1;
}
.sign-in-js .second-container .second-column{
    animation: slowShow 3s;
}
.sign-up-js .first-container .second-column{
    animation: slowShow 3s;
}

.sign-up-js .second-container .second-column{
    position: relative;
    z-index: -1;
    animation: contentSlideRight 3s;
}

@keyframes slowShow{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes contentSlideLeft{
    from{
        left:0;
        opacity: 1;
        z-index: 12;
    }
    25%{
        left:-80px;
        opacity: 0.5;
    }
    50%{
        left:-100px;
        opacity: 0.2;
    }
    to{
        left:-110px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes contentSlideRight{
    from{
        left:0;
        opacity: 1;
        z-index:12;
    }
    25%{
        left:80px;
        opacity: 0.5;
    }
    50%{
        left:100px;
        opacity: 0.2;
    }
    to{
        left:110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slidein{
    from{
        left:0;
        width: 40%;
    }
    to{
        left: 60%;
        width: 40%;
    }
}
@keyframes slideout{
    from{
        left:60%;
        width: 40%;
    }
    to{
        left: 0;
        width: 40%;
    }
}


@media (max-width:2560px) {
    .content{
        height: 100vh;
        width: 100%;
    }
    .title-primary{
        font-size: 2rem;
    }
    .second-container .description-primary{
        font-size: 1rem;
    }
    .description-second{
        font-size: 0.8rem;
    }    
}
@media (max-width:1440px) {
    .title-primary{
        font-size: 1.2rem;
    }
    .title-secondary{
        font-size: 1.2rem;
    }
    .second-container .description-primary .description-second{
        font-size: 0.6rem;
    }
}
@media(max-width:768px){
    .form{
        width: 70%;
    }
    .second-container .description-primary {
        font-size: 0.55rem;
    }
}
@media (max-width:426px){
    .title-primary{
        font-size: 1.2rem;
    }
    .title-secondary{
            font-size: 1.2rem;
        
    }
    .description-primary{
        font-size: 0.6rem;
    }
    .description-second{
        font-size: 0.6rem;
    }
    .title-secondary{
        font-size: 1.2rem;
    }
    .form{
        width: 70%;
    }
    .btn-primary{
        width: 85%;
    }
}
@media(max-width:376px){
    .btn{
        padding: 10px 40px;
    }
    .btn-primary{
        display: inline-block;
        width: 86%;
        padding: 10px 30px;
    }
    .form input{
        font-size: 0.5rem;
    }
}
@media (max-width:320px){
    .title-primary{
        font-size: 0.9rem;
    }
    .title-secondary{
        font-size: 0.9rem;
    }
    .description-primary{
        font-size: 0.6rem;
        margin:15px;
    }
    .description-second{
        font-size:0.5rem;
    }
    .btn{
        padding: 10px 25px;
    }
    .btn-primary{
        display: inline-block;
        width: 77%;
    }
}